# ignore logs
*.log

# ignore large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.MTS

# ignore csv and tsv data files
*.csv
*.tsv

# ignore datasets
datasets/
save_features/
models/
*.h5
*.h5py
*.zip